html {
    --purpleColor: #9453a6;
    --yellowColor: #f2cc0f;
    --greenColor: #8cbf3f;
    --cardPurplerBgc: #9453a6;
    --mainTitleFontSize: 6rem;
    --mainTitleFontFamily: 'Henny Penny', sans-serif;
    --titlesFontSize: 3rem;
    --titlesFontFamily: 'Pattaya', sans-serif;
    --bodyFontSize: 1rem;
    --bodyFontFamily: 'Roboto', sans-serif;
    --gradient: linear-gradient(to left top, #f2cc0f 10%, #8cbf3f 90%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    opacity: 0.7;
}



.logo {
    height: 100px;
    width: 100px;
}



.nav-link {
    margin: 0 30px;
}


body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: var(--bodyFontFamily);
    font-size: var(--bodyFontSize);
    top: 130px;
    height: 100vh;
}

h1 {
    margin: 20px;
    text-align: center;
    font-family: var(--mainTitleFontFamily);
    font-size: var(--mainTitleFontSize);
    color: var(--yellowColor);
    text-shadow: var(--purpleColor) 5px 5px 5px;

}

h2 {
    font-family: var(--titlesFontFamily);
    font-size: var(--titlesFontSize);
    color: var(--yellowColor);
    text-shadow: var(--purpleColor) 5px 5px 5px;
    text-align: center;
    margin: 20px;
}

.information {

    border: 3px solid var(--purpleColor);
    border-radius: 10px;
    background-color: var(--cardPurplerBgc);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.information p {
    text-align: justify;
    line-height: 1.5;
    color: #fff;
    text-shadow: #000, 4px, 4px, 4px;

}

.carousel {
    border: 1px solid #fff;
}

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

.card {
    text-align: center;
}

.card img {
    height: 150px;
    object-fit: contain;
}


.btn:hover,
.btn:focus {
    background: var(--gradient);
    background-clip: none;
    -webkit-text-fill-color: #fff;
    border: 5px solid #fff;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}



a.btn {
    color: var(--yellowColor);
    bottom: 0;
    border: var(--yellowColor);

}

a.btn:hover {
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    background-color: #eedd8a;

}

*/ .footer {
    background-color: rgb(196, 188, 203);
    /* background-image: linear-gradient(to bottom right, #9453a6, #8cbf3f, #f2cc0f); */
    opacity: 0.7;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
}